{% load static %}
<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img style="max-width: 200px;" src="{% static 'img/logo1.png' %}" alt=""></h3>
                <div class="textwidget">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod purus suscipit quis.</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Serviços</h3>
              <ul class="footer-link">
                <li><a href="#">Alarme</a></li>
                <li><a href="#">Hidrantes</a></li>
                <li><a href="#">Extintores</a></li>
                <li><a href="#">Sinalização de emergencia</a></li>
                <li><a href="#">Bomba de incêndio</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">O que fazemos?</h3>
              <ul class="footer-link">
                <li><a href="#">Consultoria</a></li>
                <li><a href="#">Toda intalação do seu projeto</a></li>
                <li><a href="#">Projeto de acordo com a norma</a></li>
                <li><a href="#">Pre Vistoria </a></li>
                <li><a href="#">AVCB</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> 70 Rua Crisantêmos - <br> Jardim Alterosas, Betim-MG</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> (31) 99897-4876</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i>combaterincendio@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2021 <a rel="nofollow" href=""></a> Combater Incêndio</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <a href="#" class="back-to-top">
    	<i class="lni-arrow-up"></i>
    </a>

    <div id="preloader">
      <div class="loader" id="loader-1"></div>
    </div>
    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.min.js' %}"></script>

    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/form-contact.js' %}"></script>
  </body>
</html>